.list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: black;
  background-color: white;
  border-radius: var(--radius);
  padding: 0.9rem 0;
  flex: 1;
}

.list_header {
  color: var(--muted);
  font-size: 0.8rem;
  padding: 0 0.9rem;
}

.list hr {
  border: none;
  border-top: 1px solid lightgray;
}

.room_item {
  cursor: pointer;
  border-radius: 0.5rem;
  padding: 0.2rem 0.9rem;
}

.room_item:hover {
  background-color: rgba(0, 0, 255, 0.091);
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 50%);
}

.title,
.description {
  font-size: 0.9rem;

  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
}

.title {
  -webkit-line-clamp: 1;
}

.loading_spinner {
  font-size: 3rem;
  margin-left: 1rem;
}
